body {
  overflow-y: hidden;
  overflow-x: hidden;
  
}

.color-nav {
  background-color: black;
  height: 50px;
}

.red {
  background-color: rgb(250, 64, 89);
}

.blue {
  background-color: rgb(109, 209, 235);
}

.green {
  background-color: rgb(31, 245, 156);
}

table, th, td {
  border: 1px solid black;
}